.gcloudignore
.git
.gitignore
node_modules/
.next/
# Essential build files - DO NOT IGNORE
#!Dockerfile
#!next.config.js
#!package.json
#!package-lock.json
# Wait, the ! syntax is for including, but I'll just remove them from the ignore list.
# Actually, I'll just list what to ignore.
.gcloudignore
.git
.gitignore
node_modules/
.next/
README.md
.dockerignore
pencil-welcome.pen
